{% extends 'base.html'%}

{%block title%}Profile{%endblock%}

{%block content%}
<section class="blog-intro">
  <div class="intro-intro_contain">
      <p class="intro-header">Blog</p>
      <h1>Blog Grid - Our Blog</h1>  
  </div>   
</section>
<section class="blog-contain">
    <div class="properties">
      {% for property in properties %}
        <div class="card">
          <img src="{{ url_for('uploaded_file', filename=property.images[0].filename) }}" alt="{{ property.name }}"  >
          <div class="card_status">
            <span>{{ property.status }}</span>
            <form method="post" action="{{ url_for('add_to_dashboard', property_id=property.id) }}">
              <button type="submit"><i class="fa-solid fa-heart"></i></button>
            </form>
          </div>

          <div class="card_info">
            <h3>{{ property.name }}</h3>
            <p><i class="fa-solid fa-location-dot"></i> {{ property.location }}.</hp>        
            
          </div>
          
          <div class="card_footer">
            <button>${{property.price}}</button>
            <h4>{{property.type}}</h4>
          </div>
          <a href="{{ url_for('property_details', property_id=property.id) }}"></a>
        </div>
        
      {% endfor %}
    </div>
</section>
{%endblock%}