.auth-pages
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/homeBG2.jpg') ;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.auth-form
{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 2rem auto;
    background-color: white;
    padding: 30px;
}
.auth-form label
{
    opacity: 0.5;
    padding: 5px;
}
form input
{
    padding: 5px 10px;
    font-size: 18px;
    margin-bottom: 1rem;
    opacity: 0.5;
}
form .submit
{
    margin-top: 20px;
    cursor: pointer;
}
.status-box
{
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-bottom: 1rem;
}
.status-box input
{
    margin: auto 0px;
}

.upload-form
{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    margin: auto;
}
.options-input
{
    display: flex;
    margin-bottom: 10px;
}
.options-input select
{
    margin-right: 1rem;
    font-size: 17px;
}